
body{
  font-family:Garamond;
  background-image: url("l8bg.png");
  background-repeat:no-repeat;
  background-size:cover;
  color:rgb(228, 233, 219);
  font-size:18px;
  width:70%;
  padding:5%;
  margin:auto;
  text-align:justify;

}

/* A Before Selector */
p::first-line{
font-variant: small-caps;
color:black;
font-size:22px;
  
}

.important{
  color:rgb(220, 229, 233);
  background-color:rgb(230, 55, 70);
  font-style:italic;
  font-size:18px;
  
}
div{
  border:0px white solid;
  border-radius: 4px;
  background-color:grey;
  padding:6px;
}
/*Paragraph headings*/
.headingmain{
  text-decoration:underline;
  color:rgb(70, 41, 97);
  font-size:28px;

}
div > p{
  border:1px white solid;
  padding:5px;
}



#paraOne{
  color:rgb(100, 20, 20);
  font-weight:700px;
}

#paraTwo{
  font-family:fantasy;
  color:rgb(22,22,22);
}

#paraThree{
  color:rgb(77, 83, 66);
  text-align:justify;
  font-weight:900px;
}
/* First heading at the top */
#headingTitle{
  color:rgb(48, 49, 43);

}

/* Combinator */
/* Child selector (Combinator) Blue */
div > .childselector{
  color:blueviolet;
}

.topnav{
  overflow: hidden;
  background-color:#333;

}

.topnav a{
  float: left;
  display: block;
  color:#f2f2f2;
  text-align:center;
  padding:14px 16px;
  text-decoration:none;
  margin-left:10px;

}
ul{
  list-style-type:none;
  border:3px white outset;
}
.topnav a:hover{
  background-color: #ddd;
  color: black;
  }


/* a: link research and testing
a:link{
  color:orangered;
 }
a:visited {color:orange;}
a:hover{
  color:lightgreen;
  background-color:darkgreen;
  padding:0px;
  }
a:active{color:darkviolet}
*/